In [3]:
import pandas as pd

data = pd.read_csv (r'Consolidated2.csv')   
df = pd.DataFrame(data)

df = df.where((pd.notnull(df)), None)

In [4]:
head = ''
for col in df.columns:
    head+=col +' INT,'


head = head[0:-1]   
print(head)

RecordID INT,cigever INT,cigrec INT,cig30use INT,cig30av INT,cigage INT,cig100lf INT,smklsstry INT,smklssrec INT,smklss30n INT,cigarrec INT,cgr30use INT,pipever INT,alcever INT,alcrec INT,alcyrtot INT,alcus30d INT,alcbng30d INT,mjever INT,mjage INT,mjrec INT,mjyrtot INT,cocever INT,cocage INT,cocrec INT,cocyrtot INT,crkever INT,crkage INT,crkyrtot INT,herever INT,herage INT,herrec INT,heryrtot INT,hallucevr INT,hallucage INT,hallucrec INT,methamage INT,pnrnmlif INT,pnrnmrec INT,pnrnmage INT,cigflag INT,tobflag INT,tobyr INT,tobmon INT,alcflag INT,alcyr INT,alcmon INT,mrjflag INT,mrjyr INT,mrjmon INT,cocflag INT,cocmon INT,crkflag INT,crkmon INT,herflag INT,hermon INT,hallucflag INT,hallucyr INT,hallucmon INT,lsdflag INT,lsdyr INT,lsdmon INT,pcpflag INT,pcpyr INT,pcpmon INT,inhalflag INT,inhalyr INT,inhalmon INT,methamflag INT,methamyr INT,methammon INT,pnrnmflag INT,pnrnmyr INT,pnrnmmon INT,trqnmflag INT,trqnmyr INT,trqnmmon INT,stmnmflag INT,stmnmyr INT,stmnmmon INT,sednmflag INT,sednmyr INT,sednmmon INT,psychflag INT,psychyr INT,psychmon INT,herpnryr INT,illflag INT,illyr INT,illmon INT,bngdrkmon INT,hvydrkmon INT,illoralc INT,cigafu INT,dcigafu INT,alcafu INT,alcafu2 INT,mjafu INT,alcydays INT,mrjydays INT,cocydays INT,hallndayyr INT,inhndayyr INT,methndayyr INT,service INT,milstat INT,actdever INT,actd2001 INT,actd9001 INT,actd7590 INT,actdviet INT,actdpriv INT,combatpy INT,health INT,movsinpyr2 INT,sexatract INT,sexident INT,speakengl INT,diffhear INT,diffsee INT,diffthink INT,diffwalk INT,diffdress INT,differand INT,irsex INT,irmaritstat INT,ireduhighst2 INT,catag6 INT,newrace2 INT,health2 INT,eduenroll INT,edugrdnow2 INT,edufulprt INT,edusickmo INT,eduskipmo INT,mariednum2 INT,milfamily INT,milspouse INT,milpartnr INT,milmother INT,milfather INT,milson INT,mildaught INT,milbrothr INT,milsister INT,milothfam INT,wrkstatwk2 INT,wrkdpstwk INT,wrkhadjob INT,wrkdhrswk2 INT,wrk35wkus INT,wrkrsnnot INT,wrkrsnjob INT,wrkeffort INT,wrkdpstyr INT,wrknumjob2 INT,wrknjbpyr INT,wrknjbwks INT,wrklastyr2 INT,wrksickmo INT,wrkskipmo INT,wrkdrgpol INT,wrkdrgalb INT,wrkdrgedu INT,wrkdrghlp INT,wrktstalc INT,wrktstdrg INT,wrktsthir INT,wrktstrdm INT,wrktst1st INT,wrkokpreh INT,wrkokrand INT,irwrkstat INT,irwrkstat18 INT,edfam18 INT,imother INT,ifather INT,cellnotcl INT,cellwrkng INT,irpinc3 INT,irfamin3 INT,poverty3 INT,dnicnsp INT,depndalc INT,depndmrj INT,depndcoc INT,depndher INT,depndpyhal INT,depndpyinh INT,depndpymth INT,depndpypnr INT,depndpystm INT,depndpysed INT,depndpypsy INT,depndpyill INT,dppyillalc INT,abusealc INT,abusemrj INT,abusecoc INT,abuseher INT,abusepyhal INT,abusepyinh INT,abusepymth INT,abusepypnr INT,abusepytrq INT,abusepystm INT,abusepysed INT,abusepypsy INT,abusepyill INT,abpyillalc INT,txevrrcvd INT,pregnant INT,inhospyr INT,nmvsopt2 INT,hrtcondev INT,diabetevr INT,copdever INT,cirrosevr INT,hepbcever INT,kidnydsev INT,asthmaevr INT,cancerevr INT,highbpevr INT,bmi2 INT,auoptyr INT,aurxyr INT,aumotvyr INT,amhoutp3 INT,amhtxrc3 INT,k6scmon INT,spdmon INT,mhsuithk INT,smipp_u INT,addprev INT,addscev INT,adlosev INT,addpdisc INT,adwrdst INT,amdelt INT,amdeyr INT,cigofrsm INT,cigtry INT,smklssevr INT,cigartry INT,lsd INT,peyote INT,mesc INT,psilcy INT,ecstmolly INT,ketminesk INT,dmtamtfxy INT,salviadiv INT,hallucoth INT,amylnit INT,gas INT,sppaint INT,airduster INT,othaeros INT,stmnmlif INT,stmrswght INT,age2 INT,catage INT,catag2 INT,catag3 INT,catag7 INT,sexage INT,sexrace INT,income INT,pden10 INT,coutyp4 INT,nomarr2 INT,irmarit INT

In [5]:
myvars = {}
with open("../jrdaughe-mysql-password") as myfile:
    for line in myfile:
        name, var = line.partition(":")[::2]
        myvars[name.strip()] = var.strip()

import MySQLdb
conn = MySQLdb.connect(host = "localhost",user=myvars['DB username'], passwd=myvars['DB password'], db='I501Fa21grp05_db', local_infile = 1)
cursor = conn.cursor()

In [7]:
# Due to the number of columns, I actually couldn't create teh table directly from here.  What I ended up doing was
# I created the table in SQL first, then inserted the data into it.

cursor.execute('CREATE TABLE NSDUH ('+head+')');

OperationalError: (1118, 'Row size too large (> 8126). Changing some columns to TEXT or BLOB may help. In current row format, BLOB prefix of 0 bytes is stored inline.')

think to use na_values in dataframes

In [9]:
cursor.execute("LOAD DATA LOCAL INFILE 'Consolidated.csv' INTO TABLE NSDUH FIELDS TERMINATED BY ',' LINES TERMINATED BY '\r\n' IGNORE 1 ROWS;")

282768

In [10]:
conn.commit()